# Ignore data files
Data/music_tracks.csv
Data/artists.csv

# Ignore audio samples folder
Data/audio_samples/

# Ignore notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc
